#conteneur-de-jeux {
    top: 30px;
    font-size: 0;
    margin: auto;
    height: 760px;
    width: 760px;
    padding: 0;
    border: none;
    overflow: hidden;

}

.grid {
    border: none;
    outline: 1px solid #000;
    display: inline-block;
}

.accessible{
    background-color: rgb(120, 180, 60);
}

.ombre-arme{
    box-shadow: inset 0 0 0 2000px rgba(243, 255, 67, 0.1);
}